<div class="header">
  <div class="filter">
  <div class="section">
    <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt="">
    <h1>Trouvez des chatons cool sur ce site point com</h1>
    <p>Découvrez des chatons grave stylay du monde entiers.</p>
  </div>
  </div>
</div>

<div class="content">
  <div class="main">
    <img src="https://images.pexels.com/photos/65006/pexels-photo-65006.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="main">
    <img src="https://images.pexels.com/photos/315582/pexels-photo-315582.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="main">
    <img src="https://images.pexels.com/photos/20787/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

</div>
