<h1>my carts : <%= @cart.id %></h1>
<% @cart.items.each do |item| %>
<p><%= button_to "Destroy", action: 'destroy_item', id: @cart.id, item: item.id %> cet objet : <%= item.id %>  </p>
<% end %> 

<p>Prix total : <%= @price %></p>