body{
  margin: 0;
  padding: 0;
  background-color: #DDD;
}
.header{
  background-image: url("https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: 100% auto;
  opacity:.5;
  height: 300px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}
.section{
  padding: 5px;
  color: #000;
  text-align: center;
  position: absolute;
  z-index: 20;
  opacity: 1;
  transform: translate(50%,50%);
}
.content{
  display: flex;
  direction: row;
}
.main {
  margin: 5px;
  background-color: #FFF;
  box-shadow: 0px .1px 7px .1px;

}
.main img{
  width: 100%;
}
